<!doctype html>
<html>
  <head>
    <title>Search Error</title>
  </head>
  <body>
    <h1><strong>ERROR</strong></h1>
    <h3>Query: </h3>
    <p>{{ query }}</p>
    <h3>stderr output:</h3>
    <p>{{ errstring }}</p>
  </body>
</html>
